<section id="profile" class = "bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Create</h2>
                <hr>
            </div>
        </div>
        <div class="row" id="un-form">
          <h3>Create your username:</h3>
          <!-- <form class="un_save" name="un_save" action="inc/username.php" method="post"> -->
          <%= form_for @current_user, class:"un_save" do |f| %>

            <div class="row control-group">
              <div class="form-group col-md-4 floating-label-form-group controls">
                  <label>Username</label>
                  <!-- <input type="text" class="form-control" placeholder="Username" name="username" id="username" required data-validation-required-message="Please input your username"> -->
                  <%= f.text_field :username, class:"form-control", placeholder:"Username", id:"username", required:"true"%>

                  <p class="help-block text-danger"></p>
              </div>
              <div class="form-group col-md-8 floating-label-form-group controls">
                  <label>Email</label>
                  <!-- <input type="email" class="form-control" placeholder="Email" name="email" id="email" required data-validation-required-message="Please input your email"> -->
                  <%= f.text_field :email, class:"form-control", placeholder:"Email", id:"email", required:"true"%>

                  <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-4 pull-right" id="submitusername">
                  <input type="submit" class="btn btn-lg btn-success btn-block" value="SAVE"></input>
              </div>
            </div>
          <% end %>>
        </div>
        <div id="thanks"></div>

        <div class="col-lg-8 col-lg-offset-2">
          <%= form_for @pitch, :url => url_for(:controller => '/api/pitchlove/pitches', :action => 'create'), id:"profileform" do |f| %>

            <h3>Create your pitch below.</h3><!--<h4> Focus on the problem your startup solves.</h4>-->
            <div class="company">
                <div class="row control-group">
                    <div class="form-group col-md-4 floating-label-form-group controls">
                        <!-- <label>Startup Name...</label>
                        <input type="text" class="form-control" placeholder="Startup name..." name="name" id="name" required data-validation-required-message="Please input the name of your innovation."> -->

                        <label>Startup Name...</label>
                        <%= f.text_field :innovation_name, class:"form-control", placeholder:"Startup name...", id:"name", required:"true" %>

                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group col-md-8 floating-label-form-group controls">
                        <label>Problem startup solves...</label>
                        <!-- <input type="text" class="form-control" placeholder="Problem startup solves..." name="problem" id="problem" required data-validation-required-message="Please input the your innovation solves"> -->
                        <%= f.text_field :problem, class:"form-control", placeholder:"Problem startup solves...", id:"problem", required:"true" %>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-md-4 controls floating-label-form-group controls">
                        <label>Current startup stage...</label>
                        <!-- <select class="form-control" placeholder="Stage" name="stage" id="stage" required data-validation-required-message="Please select a stage">
                            <option>Idea</option>
                            <option>Concept</option>
                            <option>Prototype</option>
                            <option>Product/Market Fit</option>
                            <option>Scaling</option>
                        </select> -->

                        <%= f.collection_select :stage, ["Idea", "Concept", "Prototype", "Product/Market Fit", "Scaling"], :to_s, :to_s, class:"form-control", id:"stage" %>
                        <p class="help-block text-danger"></p>
                    </div>

                    <div class="form-group col-md-8 controls floating-label-form-group controls">
                        <label>Needs...</label>
                        <!-- <input type="text" class="form-control" placeholder="Anything you need to get to the next level..." id="needs" name="needs" data-validation-required-message="Please what you need to get to the next level" maxlength="140" required> -->
                        <%= f.text_field :needs, class:"form-control", placeholder:"Anything you need to get to the next level...", id:"needs", maxlength:"140", required:"true" %>
                        <p class="help-block text-danger"></p>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p class="light">Create a video pitch to explain your startup (shorter is usually better):</p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-md-6 col-md-offset-2 controls otherlabel vidblock">
                        <iframe id="widget" type="text/html" width="500" height="390" src="https://www.youtube.com/upload_embed" frameborder="0"></iframe>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group col-md-6 col-md-offset-3 controls otherlabel vidblock" id="box">
                        <div id="player"></div>
                        <!-- <input type='hidden' name='vid' id='vid' value='0'/> -->
                        <%= f.hidden_field :vid, id:'vid', value:'0' %>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="row">
                <div class="form-group col-md-4" id="submitter">
                    <!-- <input type="submit" class="btn btn-lg btn-success btn-block" value="SAVE"></input> -->
                    <%= f.submit "Save", class:"btn btn-lg btn-success btn-block" %>

                </div>
            </div>
          <% end %>
        </div>
    </div>
</section>
