<div class="col-lg-8 col-lg-offset-2">
   <form name="profileform" id="profileform" action='inc/saveProfile.php' method='post'>
       <h3>Create your pitch below.</h3><!--<h4> Focus on the problem your startup solves.</h4>-->
        <div class="company">
            <div class="row control-group">
                <div class="form-group col-md-4 floating-label-form-group controls">
                    <label>Startup Name...</label>
                    <input type="text" class="form-control" placeholder="Startup name..." name="name" id="name" required data-validation-required-message="Please input the name of your innovation.">
                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group col-md-8 floating-label-form-group controls">
                    <label>Problem startup solves...</label>
                    <input type="text" class="form-control" placeholder="Problem startup solves..." name="problem" id="problem" required data-validation-required-message="Please input the your innovation solves">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-md-4 controls floating-label-form-group controls">
                    <label>Current startup stage...</label>
                    <select class="form-control" placeholder="Stage" name="stage" id="stage" required data-validation-required-message="Please select a stage">
                        <option>Idea</option>
                        <option>Concept</option>
                        <option>Prototype</option>
                        <option>Product/Market Fit</option>
                        <option>Scaling</option>
                    </select>
                    <p class="help-block text-danger"></p>
                </div>

                <div class="form-group col-md-8 controls floating-label-form-group controls">
                    <label>Needs...</label>
                    <input type="text" class="form-control" placeholder="Anything you need to get to the next level..." id="needs" name="needs" data-validation-required-message="Please what you need to get to the next level" maxlength="140" required>
                    <p class="help-block text-danger"></p>
                </div>

            </div>
                <br>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p class="light">Create a video pitch to explain your startup (shorter is usually better):</p>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-md-6 col-md-offset-2 controls otherlabel vidblock">
                    <iframe id="widget" type="text/html" width="500" height="390"
src="https://www.youtube.com/upload_embed" frameborder="0"></iframe>

                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group col-md-6 col-md-offset-3 controls otherlabel vidblock" id="box">
                    <div id="player"></div>
                    <input type='hidden' name='vid' id='vid' value='0'/>

                    <p class="help-block text-danger"></p>
                </div>
            </div>
        </div>
        <br>
        <div id="success"></div>
        <div class="row">
            <div class="form-group col-md-4" id="submitter">
                <input type="submit" class="btn btn-lg btn-success btn-block" value="SAVE"></input>
            </div>
        </div>
    </form>
</div>
