<section class="success" id="about">
    <div class="container singlepitches">
        <!--<div class="row">
            <div class="col-lg-12 text-center">
                <h2>Pitches</h2>
                <hr class="star-light">
            </div>
        </div>-->
        <div class="row topper">
            <div class="col-sm-3">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-default modbutt" data-toggle="modal" data-target="#myModal">
                  How to Give Feedback!
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center" id="myModalLabel">How to give feedback on mobile.</h4>
                      </div>
                      <div class="modal-body text-center">
                        <p>Swipe <span class="loud2">RIGHT</span> if you <span class="loud2">LOVE</span> this pitch!</p>
                          <p>Swipe <span class="loud2">LEFT</span> if you would <span class="loud2">PASS</span> on this pitch!</p>
                      </div>
                  </div>
                </div>
                </div>
                <!--<button type="button" class="btn btn-default all">All Pitches</button>-->
                <div id="pitchshare" class="addthis_sharing_toolbox" data-url="" data-title=""></div>
            </div>
            <div class="col-sm-6 text-center" id="companyname">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center" id="problem2">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 swipe" style="z-index=5;">
                <a href="#" class="btn btn-lg btn-default btn-block" id="pass">
                    <i class="fa fa-times"></i>Pass
                </a>
            </div>
            <div class="col-sm-6" id="pitch">
            <div id="videoblock">
                <iframe id="ytplayer" type="text/html" width="" src="" frameborder="0"></iframe>
            </div>
                <div class="feedback text-center col-sm-offset-1">
                    <form name="feedbackform" id="feedbackform" action="inc/feedback.php" method="POST">
                        <div class="row control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Email</label>
                                <input type="email" class="form-control" placeholder="Email" name="feedback_email" id="feedback_email" data-validation-required-message="Please enter your email">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <!--<div class="row control-group">
                            <div class="form-group controls range_control">
                                <label for="frequency" id="special_label">Frequency/Month - (From 1 to 10+ times per month)</label><output for="frequency" name="number"></output>
                                <input type="range" class="form-control" name="frequency" id="frequency" value="5" min="0" max="10" step="1" data-validation-required-message="Please enter the frequency per month you have this problem" list="freqsettings" oninput="number.value = frequency.valueAsNumber">
                                <datalist id="freqsettings">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10+</option>
                                </datalist>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>-->
                        <div class="row control-group">
                            <input type='hidden' name='vote' id='vote' value='0'>
                            <div class="form-group floating-label-form-group controls">
                                <label>Feedback</label>
                                <textarea rows="3" class="form-control" placeholder="How do you currently solve this problem?" id="feedback" name="feedback" required data-validation-required-message="Please enter your feedback."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="col-sm-7 col-sm-offset-2">
                                <input id="rate" name="rating" class="rating" type="number" min="0" max="5" step="0.1" value="0" />
                            </div>
                            <input type='hidden' name='innovationid' id='innovationid' value=-1 >

                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <input type="submit" id="submit" class="btn btn-lg btn-default" value="Next Innovation">
                            </div>
                        </div>
                    </form>
                    <form class="view_save" name="view_save" action="inc/updateviews.php" method="post">
                        <input type='hidden' name='views' id='views' value=0>
                    </form>
                </div>
            </div>
            <div class="col-sm-3 swipe">
                <a href="#" class="btn btn-lg btn-default btn-block" id="love">
                    <i class="fa fa-heart"></i>Love
                </a>
            </div>
        </div>
    </div>
    <div class="container allpitches">
        <div id = "allpitcharea">

        </div>
    </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <p id="test">
                    Do you <b class="loud">Love</b> it or would you rather <b class="loud">Pass</b> on it?
                </p>
            </div>
        </div>
    </div>
</section>

<script>
// Load the IFrame Player API code asynchronously.
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/player_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
var vid;
var oReq = new XMLHttpRequest(); //New request object
oReq.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        fullpitch = JSON.parse(this.responseText);
        if (fullpitch.error) {
            error = fullpitch.error;
            $("#ytplayer").hide();
            $("#pitch").append(error);
        } else {
            vid = fullpitch[0].pitch;
            problem = fullpitch[0].problem;
            name = fullpitch[0].name;
            views = fullpitch[0].views;
            //console.log("<?php echo $_SESSION['innovationname']; ?>");
            placePitch(name,problem);
            newviews = parseInt(views) + 1;
            addViews(newviews);
           // $("#pitch").append("<p>" + vid + "</p>");
            //alert(this.responseText);
        }
    }
};
oReq.open("GET", "inc/innovations.php?<?php echo $secretid; ?>", true);
oReq.send();

function placePitch(name,problem) {
        $("#companyname").html("<h3>" + name + ":</h3>");
        $("#problem2").html("<h4> " + problem + "</h4>");
        $("#pitchshare").attr("data-url", '<?php echo($url."app.php?".$secretid); ?>');
        $("#pitchshare").attr("data-title", problem);
        $("#ytplayer").attr({
          src: "https://www.youtube.com/embed/" + vid,
            width: 600,
            height: 500
        });
}

function addViews(newviews) {
    $("#views").val(newviews);
    $.ajax({
        type: "POST",
        url: "inc/updateviews.php",
        data: $('#views').serialize(),
        success: function(msg){
            if(msg.status == 'success'){
                alert(msg.status);
            }else if(msg.status == 'error'){
                alert("Error on query!");
            }
        },
        error: function(x,e){
            if(x.status==0){
                alert('You are offline!!\n Please Check Your Network.');
            }else if(x.status==404){
                alert('Requested URL not found.');
            }else if(x.status==500){
                alert('Internel Server Error.');
            }else if(e=='parsererror'){
                alert('Error.\nParsing JSON Request failed.');
            }else if(e=='timeout'){
                alert('Request Time out.');
            }else {
                alert('Unknow Error.\n'+x.responseText);
            }
        }
    });
}

$("#pass").click(function(){
    $("#videoblock").hide("slide", { direction: "right" }, 500);
    $(".feedback").show("slide", { direction: "right" }, 500);
    $("input#feedback_email").show();
    $("input#frequency").show();
    $("#love").hide();
    $('input#vote').val(-1);
    $('#innovationid').val(<?php echo $_SESSION['id'] ?>);
});

 $("#love").click(function(){
    $("#videoblock").hide("slide", { direction: "left" }, 500);
    $(".feedback").show("slide", { direction: "left" }, 500);
    $("input#feedback_email").show();
    $("input#frequency").show();
    $("#pass").hide();
    $('input#vote').val(1);
    $('#innovationid').val(<?php echo $_SESSION['id'] ?>);
});

</script>


<script>
        $("input#submit").click(function(){
            $('#rate').rating('clear'); //vote
        });

</script>

<script>
        $(function() {
          //Keep track of how many swipes
          //Enable swiping...
          $("#about").swipe( {
            //Generic swipe handler for all directions
            swipeLeft:function(event, direction, distance, duration, fingerCount) {
               $("#videoblock").hide("slide", { direction: "right" }, 500);
                $(".feedback").show("slide", { direction: "right" }, 500);
                $("input#feedback_email").show();
                $("input#frequency").show();
                $("#love").hide();
                $('input#vote').val(-1);
                $('#innovationid').val(<?php echo $_SESSION['id'] ?>);
            },
            swipeRight:function(event, direction, distance, duration, fingerCount) {
                $("#videoblock").hide("slide", { direction: "left" }, 500);
                $(".feedback").show("slide", { direction: "left" }, 500);
                $("input#feedback_email").show();
                $("input#frequency").show();
                $("#pass").hide();
                $('input#vote').val(1);
                $('#innovationid').val(<?php echo $_SESSION['id'] ?>);
            },
            //Default is 75px, set to 0 for demo so any distance triggers swipe
            threshold:0
          });
        });
</script>
