<section id="profile" class = "bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Create</h2>
                <hr>
            </div>
        </div>
        <div class="row" id="un-form">
          <h3>Edit your username:</h3>
          <!-- <form class="un_save" name="un_save" action="inc/username.php" method="post"> -->
          <%= form_for @current_user, class:"un_save" do |f| %>

            <div class="row control-group">
              <div class="form-group col-md-4 floating-label-form-group controls">
                  <label>Username</label>
                  <!-- <input type="text" class="form-control" placeholder="Username" name="username" id="username" required data-validation-required-message="Please input your username"> -->
                  <%= f.text_field :username, class:"form-control", placeholder:"Username", id:"username", required:"true"%>

                  <p class="help-block text-danger"></p>
              </div>
              <div class="form-group col-md-8 floating-label-form-group controls">
                  <label>Email</label>
                  <!-- <input type="email" class="form-control" placeholder="Email" name="email" id="email" required data-validation-required-message="Please input your email"> -->
                  <%= f.text_field :email, class:"form-control", placeholder:"Email", id:"email", required:"true"%>

                  <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-4 pull-right" id="submitusername">
                  <input type="submit" class="btn btn-lg btn-success btn-block" value="SAVE"></input>
              </div>
            </div>
          <% end %>>
        </div>
        <div id="thanks"></div>
    </div>
</section>
