/* Panel pop */
.panel-pop {
	background-color: #FFF;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
	width: 400px;
	position: fixed;
	padding: 20px;
	top: -100%;
	left: 50%;
	margin-left: -200px;
	z-index: 998;
	overflow: hidden;
	color: #2f3239;
  background:#f2f2f2;
}
.panel-pop p {
	font-size: 13px;
}

#user_email, #user_password, #user_password_confirmation{
  border:solid 1px black;
}
.panel-pop h2,.login h2,.contact-us h2,#related-posts h2,.user-profile h2 {
	border-bottom: 2px solid #dedede;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}
.panel-pop h2 {
	font-size: 15px;
	margin-top: 5px;
	cursor: pointer;
  color:black;
}
.panel-pop .form-style input.submit {
	width: 100%;
}


.wrap-pop {
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 997;
}
.boxed_body2 .wrap-pop {
	margin-top: -30px;
}

.login-panel input[type="submit"],.login-panel .signup {
	font-size: 15px;
	font-weight: bold;
	border: none;
}
.login-panel input[type="submit"]:hover,.login-panel .signup:hover {
	background-color: #373b43;
}
.signup {
	font-size: 15px;
	font-weight: bold;
	margin: 0;
}
