/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html {
    height: 100%;
}
body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #1fc8bc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
}

hr {
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
    border-color: #1FC8BC;
    margin: 0 auto 5% auto;
}

hr:after {
    color: #1FC8BC;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}

body.index {
    text-align: center;
    color: #fff;
    height: 100%;
    background: url("/assets/pitchBoardroom.jpg") repeat-x center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header .container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.bar {
  border-right: 1px solid #666;
    border-left: 1px solid #666;
}
header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 2em;
    font-weight: 700;
    color: #fff;
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section h2 {
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #1fc8bc;
}

.ui-tabs-vertical { width: 55em; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

.rotate {
     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #7070FF;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    border-bottom: 1px solid #666;
}

.otherlabel label {
    color: #666;
}

.otherlabel label:active {
    color: #1fc8bc;
}

.otherlabel {
    position: relative;
    margin-bottom: 0;
    border-bottom: 1px solid #666;
}

input.company {
    color: #fff;
}

.largecircle {
    background-color: #2c3e50;
    padding: 20px;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(204,204,204,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(204,204,204,0.75);
    box-shadow: 10px 10px 20px 0px rgba(204,204,204,0.75);
}

.floating-label-form-group input,
.floating-label-form-group textarea,
.floating-label-form-group select,
.floating-label-form-group range {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
    color: #666;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 1.5em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
    color: #666;
}

.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #666;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #1fc8bc;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #666;
}

footer {
    color: #666;
}

footer h3 {
    margin-bottom: 30px;
    color: #666;
}

footer .footer-above {
    padding-top: 2%;
    background-color: #fff;
}

footer .footer-below {
    padding: 2% 0;
    background-color: #fff;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.swipe {
    margin-top: 10%;
    vertical-align: middle;
}


.form-group.required .control-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}

.loud {
    font-weight: 600;
    font-size: 125%;
    color: #666;
}
.loud2 {
    font-weight: 600;
    font-size: 125%;
    color: #1fc8bc;
}

.feedback {
    display: none;
    color: #fff;
}

/* do not group these rules */
.form-control::-webkit-input-placeholder {
    color: #666;
    font-size: 1.2em;
}
.form-control:-moz-placeholder {
    /* FF 4-18 */
    color: #666;
    font-size: 1.2em;
}
.form-control::-moz-placeholder {
    /* FF 19+ */
    color: #666;
    font-size: 1.2em;
}
.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #666;
    font-size: 1.2em;
}

.light {
    font-size: 1.5em;
}

.info {
    font-size: 1em;
}

.right {
    float: right;
}

.navbar-fixed-top {
    padding: 0;
}

.btn-success {
    background-color: #1fc8bc;
    background-image: radial-gradient(circle, #1fc8bc 80%, #0DA196 81%);
}

.navbar-brand {
    height: auto;
    padding: 0;
}
.button-text {
    font-size: 160%;
}
.main-button {
    padding: 0 3% 10% 3%;
}
.well {
    z-index: -1;
    opacity: .9;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 2%;
}
.well.btn-success {
    opacity: 1;
}
a.btn-default#pass, a.btn-default#love {
    padding: 15% 0;
    font-size: 2.75em;
}
.success h3 {
    color: #666;
}
#profile h2 {
    color: #666;
}
.intro-text {
    margin-top: 6%;
}
.welcome {
    padding: 5% 0 5% 0;
}
#companyname, #stage2 {
    color: #666;
}
#problem2, #needs2 {
    color: #fff;
}
#profileform/*, .innards*/  {
    display: none;
}
#un-form {
    padding-bottom: 10%;
}
#profile h2 {
    margin-top: 10%;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 1.4em;
  width: 1.2em;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
#submitusername {
    margin-top: 3%;
}
#profile, .bg {
    color: #666;
    background: #eee;

}
.bg h2 {
    margin-top: 10%;
}
.bg h1, .bg h2, .bg h3, .bg h4, .bg h5, .bg h6 {
    color: #666;
}
#customButton {
    margin-bottom: 5%;
      font-size: x-large;
}
ul.no-no li {
    list-style-position: inside;
}
#info button {
    margin: 5% 0;
}
.glyphicon {
    font-size: 3em;
}
.pitch-entry {
    margin-bottom: 5%;
}
table {
    font-size: 150%;
    margin: 1% 15% 3% 15%;
    border-top: solid 2px #999;
    border-bottom: solid 2px #999;
}
#about .glyphicon {
    font-size: 1em;
    color: #fff;
}
#special_label {
    font-size: 1.4em;
    color: #666;
    text-align: left;
}
output {
    color: #666;
    font-size: 1.2em;
}
.pitch-entry h4, .pitch-entry h5, .pitch-entry p {
    margin-bottom: 0;
}
.topper {
    margin-top: 7%;
}
.jumbotron, .jumbotron h3, .jumbotron h4 {
    color: #666;
}
.jumbotron {
    padding: 2%;
}
#about .alert-warning {
    margin: 20% 0;
}
.alert a:not(.close) {
    font-weight: 900;
    text-decoration:underline;
}

#videoblock {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
}

#ytplayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modbutt {
    display: none;
}
#all {
    margin: 23px auto 0 auto;
}
a.fillthediv{
    display:block;
    height:100%;
    width:100%;
    text-decoration: none;
}
#allpitcharea {
    margin-top: 7%;
}
#pitchshare {
    padding-top: 8%;
}
.logout {
    margin-top: 5%;
}
@media screen and (max-device-width: 992px) {
    .img-responsive {
        max-width: 60%;
    }
    .navbar-toggle {
        margin-top: 0px;
    }
}

@media screen and (max-device-width: 768px) {
    header .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }

    .navbar-fixed-top {
        padding: 15px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1em;
    }

    .navbar-default .navbar-brand:hover {
        color: #7070FF;
    }
    section.first {
        padding-top: 75px;
    }

    .swipe {
        display: none;
    }

    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
    .topper {
        margin-top: 15%;
    }
    .modal-content, h4.modal-title {
      color: #666;
    }
    .modbutt {
        display: block;
        margin: 0 auto 2% auto;
    }
    #companyname h3 {
        margin-top: 0;
    }
    #all {
        display: none;
    }
}

@media screen and (max-device-width: 480px) {
    .modbutt {
        margin: 10% auto 2% auto;
    }
}
