<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title>pitchlove - Use Data + Feedback to steer your Startup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
  <meta name="description" content="">
  <meta name="author" content="">



</head>

<body id="page-top" class="index">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll row">
              <div class="col-xs-8">
                  <a class="navbar-brand" href="#page-top"><%= image_tag("pitchlove_350x75.png", class:"img-responsive") %></a>
              </div>
              <div class="col-xs-2 col-xs-offset-2">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>

          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="page-scroll active">
                      <a href="/">Home</a>
                  </li>
                  <li class="page-scroll">
                      <a href="/pitches/<%= getNextPitch() %>">Pitches</a>
                  </li>
                  <li class="page-scroll">
                      <a href="/create">Create</a>
                  </li>
                  <li class="page-scroll">
                      <a href="#">Info</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>


  <!-- Footer -->
  <footer class="text-center">
      <div class="footer-above">
          <div class="container">
              <div class="row">
                  <div class="footer-col col-md-4">
                      <h3>Location</h3>
                      <p>Washington, DC and everywhere you are.</p>
                  </div>
                  <div class="footer-col col-md-4">
                      <h3>Around the Web</h3>
                      <ul class="list-inline">
                          <li>
                              <a href="#" class="btn-social btn-success"><i class="fa fa-fw fa-facebook"></i></a>
                          </li>
                          <li>
                              <a href="#" class="btn-social btn-success"><i class="fa fa-fw fa-google-plus"></i></a>
                          </li>
                          <li>
                              <a href="#" class="btn-social btn-success"><i class="fa fa-fw fa-twitter"></i></a>
                          </li>
                          <li>
                              <a href="#" class="btn-social btn-success"><i class="fa fa-fw fa-linkedin"></i></a>
                          </li>
                          <li>
                              <a href="mailto:info@e2.is" class="btn-social btn-success"><i class="fa fa-fw fa-envelope"></i></a>
                          </li>
                      </ul>
                  </div>
                  <div class="footer-col col-md-4">
                      <h3>About pitchLove</h3>
                      <p>Get the data and support to steer your startup idea to success.</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-below">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      Copyright &copy; PitchLove 2015
                  </div>
              </div>
          </div>
      </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll visible-xs visble-sm">
      <a class="btn btn-primary" href="#page-top">
          <i class="fa fa-chevron-up"></i>
      </a>
  </div>

  <!-- jQuery Version 1.11.0 -->
  <script src="assets/jquery-1.11.0.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  // <script src="assets/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="assets/classie.js"></script>
  <script src="assets/cbpAnimatedHeader.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="assets/jqBootstrapValidation.js"></script>
  <!-- <script src="assets/contact_me.js"></script> -->

  <!-- Custom Theme JavaScript -->
  <script src="assets/pitchlove.js"></script>

  <!-- <script type="text/javascript">
  // setTimeout(function() { window.location.href = "logout.php"; }, 600000);
   </script>-->

</body>

</html>
